[submodule "modules/Biomass_speciesData"]
	path = modules/Biomass_speciesData
	url = git@github.com:PredictiveEcology/Biomass_speciesData.git
[submodule "modules/Biomass_borealDataPrep"]
	path = modules/Biomass_borealDataPrep
	url = git@github.com:PredictiveEcology/Biomass_borealDataPrep.git
[submodule "modules/Biomass_core"]
	path = modules/Biomass_core
	url = git@github.com:PredictiveEcology/Biomass_core.git
[submodule "modules/scfm"]
	path = modules/scfm
	url = git@github.com:PredictiveEcology/scfm.git
[submodule "modules/WBI_preamble"]
	path = modules/WBI_preamble
	url = git@github.com:araymund83/WBI_preamble.git
[submodule "modules/WBI_vegReclass"]
	path = modules/WBI_vegReclass
	url = git@github.com:araymund83/WBI_vegReclass.git
[submodule "postHocBinning"]
	path = postHocBinning
	url = git@github.com:ilaneshaw/postHocBinning.git
[submodule "bootRasterCombine"]
	path = bootRasterCombine
	url = git@github.com:ilaneshaw/bootRasterCombine.git